table {
    margin-left: auto;
    margin-right: auto;
    border: dotted 1px; black;
}

p {
    color: blue;
    height: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Indie Flower', cursive;
}

.piros {
    background-color: red;
    border: dotted 1px; black;
}

.zöld {
    background-color: green;
    border: dotted 1px; black;
}

.kek {
    background-color: blue;
    border: dotted 1px; black;
}

.sarga {
    background-color: yellow;
    border: dotted 1px; black;
}